body{
   background-color: black;
   color: white;
   font-family: 'Times New Roman';
}
h1{
    text-align: center;
    font-size: 25px;
    margin-top: 20px;
}
h2{
    text-align: center;
    font-size: 18px;
    margin: 10px;
}
h3{
    margin: 30px;
    font-size: 15px;
    padding-top: 20px;
    text-align: end;
}
.image{
    width: 50px;
    height: 50px;
    position: absolute;
    left: 83%;
}