body{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
}
.navbar{
    background: none;
    color: white;
    font-size: 13px;
    padding-top: 10px;
}
.navbar:hover{
    color: white;
}
li{
    display: inline-block;
    gap: 20px;
    list-style: none;
}
li a{
    color: black;
    padding: 10px;
    color: white;
    text-decoration: none;
}
.navdiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    top: 0;
}
h2{
    color: grey;
    font-size: 25px; 
    font-family: "Times New Roman";
}
h1{
    color:white;
    font-size: 35px;
    font-family: ' serif';
}
.name{
    margin-left: 20px;
}
.logo1{
    width: 300px;
    height: auto;
    margin-right: 200px;
    flex: 1;
    text-align: center;
}
.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    gap: 40px;
}
.content p{
    margin: 0;
}
.description{
    color: white;
    font-size: 15px;
    padding-left: 10px;
    flex: 1;
    text-align: left;   
}
img {
  max-width: 100%;
  height: auto;
}
.link{
    color: rgb(120, 118, 118);
    text-decoration: underline;
    font-family: "Times New Roman";
}
.contact{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    font-family: "Times New Roman";
}
.copyright{
    text-align: end;
    font-family: "times new roman";
    font-size: 13px;
}
#contact{
    border: none;
}
.logo{
    width: 200px;
    height: 50px;
    padding-left: 20px;
    padding-bottom: 30px;
}
.cv-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff; /* Professional Blue */
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background 0.3s ease;
}

.cv-button:hover {
  background-color: #0056b3;
}
@media (max-width: 768px) {
  .content {
    flex-direction: column;
    text-align: center;
    padding: 5px;
  }

  .description {
    flex: none;
    width: 100%;
  }
  .logo1 {
    width: 100%;
    margin-right: 0;
  }

  .description {
    font-size: 16px;
  }
    
  .logo{
    width: 5rem;
    padding-top: 20px;
    padding-left: 5px;
    padding-bottom: 20px;
  }  
}


